<center>
<div class="welcome">
  The Raspberry Pi Security Sensor is a simple kit to help you feel more secure at home.<br>
  A small motion sensor and camera can be fitted by your front door, allowing you to see who's knocking.<br>
  If you're away from home, the image is saved on this website, and a notification sent to a Slack channel.<br>
  You'll always be aware of who's at your doorstep before you open the door.<br>
</div>
</center>
